<div><button id="primaryBtn" [@buttonAnimation]>Primary</button></div><br>
<div><button id="secondaryBtn" [@buttonAnimation]>Secondary</button></div><br>
<div><button id="actionBtn" [@buttonAnimation]>Action</button></div><br>
<!-- <div><button id="disableBtn" [@buttonAnimation]>Disable</button></div><br> -->
<button type="button" id="disableBtn" class="btn btn-primary" disabled data-bs-toggle="button" autocomplete="off">Disabled</button><br><br>
<div><button id="closeBtn" [@buttonAnimation]>❌</button></div><br>

<app-changecolor></app-changecolor>
